html
{
    margin: 0;
    height: 99%;
    width: 100%;
    margin-top: 5px;
    overflow: hidden;
    background: ivory;
}

body
{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: ivory;
}

#page
{    
    width: auto;
    height: 100%;
    padding-right: 6px;
    padding-left: 6px;
    background: ivory;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
        height: 100%;
        background: ivory;
}


#my-container-fluid
{
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 0px;
    padding: 0px;
}

.span2, .span4, .span6, .span8, .span12
{
	height: 100%;
        background: ivory;
}

#TopRow
{
    height: 15%;
}

#MiddleRow
{
    height: 75%;
}

#BottomRow
{
    height: 10%;
}


.row-fluid .carousel-caption
{
	direction: rtl;
        background: ivory;
}

#banner-fade
{
    padding: 0px;
}

.container-fluid .row-fluid .span2 .span4 .span8
{
    height: 100%;
}

.bjqs-markers
{
    visibility: hidden;
}

#LeftColumn, #RightColumn
{   
    height: 100%;
}

#TopRight, #TopLeft
{
    height: 12%;
}

#BuildingPictures, #wheather, #date_time, #Adds1, #Adds2, #Adds3, #Billboard, #YnetWidget
{
}

#date_time
{ 
    float: left;
    width: 35%;
    margin-left: -4px;
}

#date_time_text
{
    text-align: center; 
    font-size: 24px;
    font-weight: 400;
    font-family: Source Sans Pro;
    padding-top: 18px;
}

div.aw-widget-current-inner
{
    width: 65%;
    float: right;
}

div#date_time span
{
    font-size: 50px;
    text-shadow: 1px 1px #e9e9e9;
}

#wheather
{   
}

#Commertial
{
    height: 88%;
}

#Adds1
{   
	margin-top: 19%;
}

.Logo
{
    max-height: 76px;
    float: right;
	width: 100%;
}

div.Logo img
{
    width: 300px;    
	margin: 0 auto;
	display: block;
}

#Billboard
{
    height: 60%;
}

Div#billboardTitle
{
    border-bottom: 2px solid #e9e9e9 !important;   
    font-weight: 400;
    font-size: 28px;
    font-family: Source Sans Pro;
    text-align: center;
    padding-bottom: 6px;
}

Div#billboardTitle span
{
    font-weight: bold;
}
 
#Adds3
{
}

.myyiiBorder
{
    border-color: #D7DDDD;
    border-width: 1px;
    border-style: groove;
}

#YnetWidget
{
    height: 28%;
    border-top: 2px solid #e9e9e9 !important;
    /*max-height: 90px;*/   
}

#YnetWidget ul li .rssContent
{
    float: right;
	background-color:ivory;
}
 #ynetNewsScroller ul
 {
	background-color:ivory;	
 }


div.aw-widget-current-inner a.aw-toggle
{
    visibility: hidden;
}