html
{
	height: 98%;
	overflow: hidden;
}
body
{
	margin: 0;
	padding-bottom: 5px;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	height: 100%;	
        background: url(../images/bgblue.jpg) no-repeat center center fixed;
        background-size: 100%;
        background: white;
}

#page
{
	margin-top: 1%;
	margin-bottom: 1%;	
	width: auto;
        height: 100%;
        background: url(../images/bgblue.jpg) no-repeat center center fixed;
        background-size: 100%;
        background: white;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
	padding-left: 20px;
	padding-right: 20px;
        height: 100%;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}


#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.span2, .span4, .span6, .span8, .span12
{
	height: 100%;
}

#TopRow
{
        height: 100%;
}

.row-fluid .carousel-caption
{
	direction: rtl;
}

.container-fluid .row-fluid .span2 .span4 .span8
{
    height: 100%;
}

.bjqs-markers
{
    visibility: hidden;
}

#LeftColumn
{
    
}

#RightColumn
{
    
}


#BuildingPictures, #WhetherWidget, #DateTimeWidget, #Adds1, #Adds2, #Adds3, #Billboard, #YnetWidget
{
}

#BuildingPictures
{
	border-color: #CCFFFF;
	height: 100%;
}

#WhetherWidget
{
	border-color: #A3CCCC;
}

#DateTimeWidget
{
	border-color: #D6FFAD;
}

#crossSlide
{
	height: 100%;
	width: 100%;
}

#crossSlide img
{
	max-width: none;
}

#Adds1
{

}

#Adds2
{
}
#Logo
{
    height: 7%;
    max-height: 80px;
    padding: 5px 5px;
    

  
}

#Billboard
{
    height: 80%;
}
 
#Adds3
{
}



.myyiiBorder
{
/*    border-color: #D7DDDD;
    border-width: 1px;
    border-style: groove;
*/
}

#YnetWidget
{
    height: 13%;
    /*max-height: 90px;*/   
}

#YnetWidget ul li .rssContent
{
	float: right;
}

#digiclock
{
	height: 100%;
	width:	100%;
        min-height: 300px;
        max-height: 300px;
        min-width: 450px;
            
	display: inline-block;
}

div.aw-widget-current-inner a.aw-toggle
{
    visibility: hidden;
}