html
{
	height: 98%;
	overflow: hidden;
}
body
{
	margin: 0;
	padding-bottom: 5px;
	height: 100%;	
        background: ivory;
}

#page
{
    margin-top: 1%;
    margin-bottom: 1%;	
    width: auto;
    height: 100%;
    background: ivory;
    padding-right: 5px;
    padding-left: 5px;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
        height: 100%;
}

.span2, .span4, .span6, .span8, .span12
{
	height: 100%;
}

#TopRow
{
        height: 100%;
}

.row-fluid .carousel-caption
{
	direction: rtl;
}

#banner-fade
{
    padding: 0px;
}

.container-fluid .row-fluid .span2 .span4 .span8
{
    height: 100%;
}

.bjqs-markers
{
    visibility: hidden;
}

#LeftColumn
{   
}

#RightColumn
{   
}

#BuildingPictures, #wheather, #date_time, #Adds1, #Adds2, #Adds3, #Billboard, #YnetWidget
{
}

#BuildingPictures
{
    border-color: #CCFFFF;
    height: 100%;
}

#date_time
{
    text-align: center;    
    font-size: 28px;
    font-weight: 400;
    font-family: Source Sans Pro;
    padding-bottom: 6px !important;
    border: 2px solid #e9e9e9 !important;
    
    background: -moz-radial-gradient(center, ellipse cover,  rgba(189,255,251,0.37) 0%, rgba(164,227,244,0.42) 13%, rgba(17,115,181,0.76) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(189,255,251,0.37)), color-stop(13%,rgba(164,227,244,0.42)), color-stop(100%,rgba(17,115,181,0.76))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(189,255,251,0.37) 0%,rgba(164,227,244,0.42) 13%,rgba(17,115,181,0.76) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(189,255,251,0.37) 0%,rgba(164,227,244,0.42) 13%,rgba(17,115,181,0.76) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(189,255,251,0.37) 0%,rgba(164,227,244,0.42) 13%,rgba(17,115,181,0.76) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(189,255,251,0.37) 0%,rgba(164,227,244,0.42) 13%,rgba(17,115,181,0.76) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ebdfffb', endColorstr='#c21173b5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

div#date_time span
{
    font-size: 50px;
}

#wheather
{   
}

#Adds1
{   
}

#crossSlide
{
    height: 100%;
    width: 100%;
}

#crossSlide img
{
    max-width: none;
}

#Adds2
{
}

#Logo
{
    height: 12%;
    max-height: 80px;
    padding: 5px 5px;  
}

#Billboard
{
    height: 70%;
}

Div#billboardTitle
{
    border-bottom: 2px solid #e9e9e9 !important;   
}

Div#billboardTitle
{
    font-weight: 400;
    font-size: 28px;
    font-family: Source Sans Pro;
    text-align: center;
}
 
#Adds3
{
}

.myyiiBorder
{
/*    border-color: #D7DDDD;
    border-width: 1px;
    border-style: groove;
*/
}

#YnetWidget
{
    height: 18%;
    border-top: 2px solid #e9e9e9 !important;
    /*max-height: 90px;*/   
}

#YnetWidget ul li .rssContent
{
    float: right;
}

#digiclock
{
    height: 100%;
    width:	100%;
    min-height: 300px;
    max-height: 300px;
    min-width: 450px;

    display: inline-block;
}

div.aw-widget-current-inner a.aw-toggle
{
    visibility: hidden;
}