html
{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body
{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

#page
{    
    width: auto;
    height: 100%;
    background: url(../images/Linen-Texture-600x428.jpg) repeat;

    //background: linear-gradient(to bottom, rgba(118,118,118,1) 0%,rgba(114,114,114,1) 50%,rgba(109,109,109,1) 51%,rgba(132,132,132,1) 100%);}

.span2, .span4, .span6
{
    height: 100%;
}

div#my-container-fluid
{   
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 0px;
    padding: 0px;
    box-shadow: inset 0px 0px 22px 0px rgba(230, 230, 230,0.75);
}



div#TopRow
{
    height: 70%;
    width: 94%;
    margin-top: 2%;
    margin-bottom: 3%;
}

div#Commertial, div#Adds1
{
    height: 100%;
    margin: 0 auto;
}

.shadow
{
    -webkit-box-shadow: 10px 10px 21px -4px rgba(17,16,61,1);
    -moz-box-shadow: 10px 10px 21px -4px rgba(17,16,61,1);
    box-shadow: 10px 10px 21px -4px rgba(17,16,61,1);
}

div#RightColumn
{
   margin-left: 1%; 
}

div#LeftColumn
{
    background-image: url(../images/cork-board-small.jpg);
    border: 10px ridge #ad7b16;
    margin-left: 12%;
    margin-right: 0.5em;
    height: 100%;
}

div#banner-fade
{
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    
    -webkit-box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.75);
    
    width: 86%;
    margin: 0 auto;
    margin-top: 2%;
    
    padding: 1em;
}

div#banner-fade ol
{
    display: none;
}

div#Adds1 iframe
{       
    height: 100%;
}

div#MiddleRow
{
    height: 13%;
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */

    box-shadow: inset 0px 0px 18px 0px rgba(50,50,50,0.75);
}

div#date_time span
{
    font-size: 50px;
    text-shadow: 1px 1px rgba(240,240,240,0.80);
}

#date_time
{ 
    float: left;
}

div#date_time > div 
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#date_time_text
{
    text-align: center; 
    font-size: 28px;
    padding-top: 18px;
}

#weather
{      
    text-align: center;
    margin: 0.8em;
}

div.weatherItem
{
    height: 100%;
    width: 100%;
    float: left;
    margin-top: -1.2em;
    min-height: 120px;
}



div.weatherItem.odd.night div 
{
    width: 50%;
}

div.weatherCity
{
    padding-top: 1em;
    font-size: 24px;
    color: white;
}

div.weatherTemp
{
        font-size: 52px;
        margin-top: 0.3em;
        color: white;
        
}

div.weatherDesc, div.weatherHumidity, div.weatherRange
{
    display: none;
}

div.weatherRange, div.weatherHumidity {
    float: right;
    text-align: right;
    max-width: 155px;
    margin-top: 0.5em;
    padding-right: 0.5em;
}




div#retroclockbox1
{    
    display: table;
}



div#retroclockbox1 > div 
{
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;    
}

div#Logo
{
    display: table;
}

div#Logo > img 
{
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;    
}

div#BottomRow
{
    height: 6%;
    background: linear-gradient(to bottom,  #2f2f2f 0%,#373737 12%,#3f3f3f 25%,#2c2c2c 39%,#1b1b1b 50%,#000000 51%,#0b0b0b 60%,#1b1b1b 76%,#111111 91%,#0c0c0c 100%); /* W3C */
}

img#ynetLogo
{
    float: right;
    height: 100%;
}

.myyiiBorder
{
    //border-color: #D7DDDD;
    //border-width: 1px;
    //border-style: groove;
}