html
{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: gray;
}

body
{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: gray;
    font-family: sans-serif;
}

#page
{    
    width: auto;
    height: 100%;
    background: gray;
}

.span2, .span4, .span6
{
    height: 100%;
}

div#my-container-fluid
{   
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 0px;
    padding: 0px;
    box-shadow: inset 0px 0px 22px 0px rgba(230, 230, 230,0.75);
}



div#TopRow
{
    height: 78%;
    margin-bottom: 0.4%;
    margin-top: 0.2%
}

div#Commertial, div#Adds1
{
    height: 100%;
}

div#RightColumn
{
    border: 2px ridge #bcd1cf;
}

div#LeftColumn
{
    background-image: url(../images/cork-board-small.jpg);
    border: 10px ridge #ad7b16;
}

div#banner-fade
{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
    
    -webkit-box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.75);
    
    width: 86%;
    margin: 0 auto;
    margin-top: 2%;
    
    padding: 1em;
}

div#banner-fade ol
{
    display: none;
}

div#Adds1 iframe
{       
    height: 100%;
}


div#MiddleRow
{
    height: 15%;
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    box-shadow: inset 0px 0px 18px 0px rgba(50,50,50,0.75);
}

div#date_time span
{
    font-size: 50px;
    text-shadow: 1px 1px rgba(240,240,240,0.80);
}

#date_time
{ 
    float: left;
}

div#date_time > div 
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#date_time_text
{
    text-align: center; 
    font-size: 28px;
    padding-top: 18px;
}

#weather
{      
    text-align: center;
    margin: 0.8em;
}

div.weatherItem
{
    height: 100%;
    width: 100%;
    float: left;
    margin-top: -1.2em;
    min-height: 120px;
}



div.weatherItem.odd.night div {
    width: 50%;
}

div.weatherCity
{
    padding-top: 1em;
    font-size: 24px;
    color: white;
}

div.weatherTemp
{
        font-size: 52px;
        margin-top: 0.3em;
        color: white;
        
}

div.weatherDesc
{
    display: none;
}

div.weatherRange, div.weatherHumidity {
    float: right;
    text-align: right;
    max-width: 155px;
    margin-top: 0.5em;
    padding-right: 0.5em;
}




div#retroclockbox1
{    
    display: table;
}



div#retroclockbox1 > div 
{
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;    
}

div#Logo
{
    display: table;
}

div#Logo > img 
{
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;    
}

div#BottomRow
{
    height: 6%;
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    box-shadow: inset 0px 0px 18px 0px rgba(50,50,50,0.75);
}

div#address{
    color: white;
    padding-top: 1em;
    font-size: 18px;
}


.myyiiBorder
{
    //border-color: #D7DDDD;
    //border-width: 1px;
    //border-style: groove;
}