html
{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: gray;
}

body
{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: gray;
    font-family: sans-serif;
}

#page
{    
    width: auto;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
}

.span2, .span4, .span6
{
    height: 100%;
}

div#my-container-fluid
{   
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 0px;
    padding: 0px;
    box-shadow: inset 0px 0px 22px 0px rgba(230, 230, 230,0.75);
}



div#TopRow
{
    height: 66%;
    margin-bottom: 2%;
    margin-top: 1.8%
}

div#Commertial, div#Adds1
{
    height: 100%;
}

div#RightColumn
{
    border: 2px ridge #bcd1cf;
        box-shadow: 7px 7px 16px 0px rgba(56,56,56,0.75);
    margin-right: 1.5em;
    margin-left: 0.5em;
}

div#LeftColumn
{
    margin-left: -1em;
}

div#banner-fade
{
    background: rgb(250,250,250); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(250,250,250,1) 0%, rgba(238,238,238,1) 50%, rgba(232,232,232,1) 51%, rgba(250,250,250,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(50%,rgba(238,238,238,1)), color-stop(51%,rgba(232,232,232,1)), color-stop(100%,rgba(250,250,250,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 50%,rgba(232,232,232,1) 51%,rgba(250,250,250,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 50%,rgba(232,232,232,1) 51%,rgba(250,250,250,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 50%,rgba(232,232,232,1) 51%,rgba(250,250,250,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 50%,rgba(232,232,232,1) 51%,rgba(250,250,250,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    box-shadow: 7px 7px 16px 0px rgba(56,56,56,0.75);
    -webkit-box-shadow: 7px 7px 16px 0 rgba(56,56,56,0.75);
    
    width: 86%;
    margin: 0 auto;
    margin-top: 2%;
    
    padding: 1em;
    
    min-height: 380px;
    max-height: 460px;
    margin-top: 1em;
}

div#banner-fade ol
{
    display: none;
}

div#Adds1 iframe
{       
    height: 100%;
}


div#MiddleRow
{
    height: 12%;
    width: 97%;
    margin: 0 auto;
    margin-top: 4em;
}

div.banner
{
    width: 97%;
    height: 100%;
    margin: 0 auto;
    
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

    background: rgb(61,134,217); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(61,134,217,1) 0%, rgba(105,172,227,1) 50%, rgba(86,162,228,1) 51%, rgba(163,206,239,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,134,217,1)), color-stop(50%,rgba(105,172,227,1)), color-stop(51%,rgba(86,162,228,1)), color-stop(100%,rgba(163,206,239,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(61,134,217,1) 0%,rgba(105,172,227,1) 50%,rgba(86,162,228,1) 51%,rgba(163,206,239,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(61,134,217,1) 0%,rgba(105,172,227,1) 50%,rgba(86,162,228,1) 51%,rgba(163,206,239,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(61,134,217,1) 0%,rgba(105,172,227,1) 50%,rgba(86,162,228,1) 51%,rgba(163,206,239,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(61,134,217,1) 0%,rgba(105,172,227,1) 50%,rgba(86,162,228,1) 51%,rgba(163,206,239,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d86d9', endColorstr='#a3ceef',GradientType=0 ); /* IE6-9 */

    box-shadow: 7px 7px 16px 0px rgba(56,56,56,0.75);
    -webkit-box-shadow: 7px 7px 16px 0px rgba(56,56,56,0.75);
}

div#date_time span
{
    font-size: 50px;
    text-shadow: 1px 1px rgba(240,240,240,0.80);
}

#date_time
{ 
    float: left;
}

div#date_time > div 
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#date_time_text
{
    text-align: center; 
    font-size: 28px;
    padding-top: 18px;
}

#weather
{      
    text-align: center;
    margin: 0.8em;
}

div.weatherItem
{
    height: 100%;
    width: 100%;
    float: left;
    margin-top: -1.2em;
    min-height: 120px;
    text-align: right;
}



div.weatherItem.odd.night div {
    width: 50%;
}

div.weatherCity
{
    padding-top: 1em;
    font-size: 24px;
    color: white;
}

div.weatherTemp
{
        font-size: 52px;
        margin-top: 0.3em;
        color: white;
        
}

div.weatherDesc, div.weatherRange
{
    display: none;
}

div.weatherHumidity {
    display: block;
    float: right;
    text-align: right;
    max-width: 155px;
    margin-top: 1.5em;
}




div#retroclockbox1
{    
    display: table;
}



div#retroclockbox1 > div 
{
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;    
}

div#Logo
{
    display: table;
}

div#YnetWidget, div#timeWeather
{
    height: 142px;
    width: 46%;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

div#YnetWidget
{    
    background: rgb(5,5,5); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(5,5,5,1) 0%, rgba(86,86,86,1) 6%, rgba(5,5,5,1) 12%, rgba(76,76,76,1) 20%, rgba(204,204,204,1) 21%, rgba(208,208,208,1) 25%, rgba(198,198,198,1) 39%, rgba(190,190,190,1) 58%, rgba(190,190,190,1) 58%, rgba(190,190,190,1) 59%, rgba(190,190,190,1) 59%, rgba(176,176,176,1) 59%, rgba(181,181,181,1) 67%, rgba(189,189,189,1) 79%, rgba(185,185,185,1) 91%, rgba(182,182,182,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,5,5,1)), color-stop(6%,rgba(86,86,86,1)), color-stop(12%,rgba(5,5,5,1)), color-stop(20%,rgba(76,76,76,1)), color-stop(21%,rgba(204,204,204,1)), color-stop(25%,rgba(208,208,208,1)), color-stop(39%,rgba(198,198,198,1)), color-stop(58%,rgba(190,190,190,1)), color-stop(58%,rgba(190,190,190,1)), color-stop(59%,rgba(190,190,190,1)), color-stop(59%,rgba(190,190,190,1)), color-stop(59%,rgba(176,176,176,1)), color-stop(67%,rgba(181,181,181,1)), color-stop(79%,rgba(189,189,189,1)), color-stop(91%,rgba(185,185,185,1)), color-stop(100%,rgba(182,182,182,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(5,5,5,1) 0%,rgba(86,86,86,1) 6%,rgba(5,5,5,1) 12%,rgba(76,76,76,1) 20%,rgba(204,204,204,1) 21%,rgba(208,208,208,1) 25%,rgba(198,198,198,1) 39%,rgba(190,190,190,1) 58%,rgba(190,190,190,1) 58%,rgba(190,190,190,1) 59%,rgba(190,190,190,1) 59%,rgba(176,176,176,1) 59%,rgba(181,181,181,1) 67%,rgba(189,189,189,1) 79%,rgba(185,185,185,1) 91%,rgba(182,182,182,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(5,5,5,1) 0%,rgba(86,86,86,1) 6%,rgba(5,5,5,1) 12%,rgba(76,76,76,1) 20%,rgba(204,204,204,1) 21%,rgba(208,208,208,1) 25%,rgba(198,198,198,1) 39%,rgba(190,190,190,1) 58%,rgba(190,190,190,1) 58%,rgba(190,190,190,1) 59%,rgba(190,190,190,1) 59%,rgba(176,176,176,1) 59%,rgba(181,181,181,1) 67%,rgba(189,189,189,1) 79%,rgba(185,185,185,1) 91%,rgba(182,182,182,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(5,5,5,1) 0%,rgba(86,86,86,1) 6%,rgba(5,5,5,1) 12%,rgba(76,76,76,1) 20%,rgba(204,204,204,1) 21%,rgba(208,208,208,1) 25%,rgba(198,198,198,1) 39%,rgba(190,190,190,1) 58%,rgba(190,190,190,1) 58%,rgba(190,190,190,1) 59%,rgba(190,190,190,1) 59%,rgba(176,176,176,1) 59%,rgba(181,181,181,1) 67%,rgba(189,189,189,1) 79%,rgba(185,185,185,1) 91%,rgba(182,182,182,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(5,5,5,1) 0%,rgba(86,86,86,1) 6%,rgba(5,5,5,1) 12%,rgba(76,76,76,1) 20%,rgba(204,204,204,1) 21%,rgba(208,208,208,1) 25%,rgba(198,198,198,1) 39%,rgba(190,190,190,1) 58%,rgba(190,190,190,1) 58%,rgba(190,190,190,1) 59%,rgba(190,190,190,1) 59%,rgba(176,176,176,1) 59%,rgba(181,181,181,1) 67%,rgba(189,189,189,1) 79%,rgba(185,185,185,1) 91%,rgba(182,182,182,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050505', endColorstr='#b6b6b6',GradientType=0 ); /* IE6-9 */
    
    margin-left: 2.5em;
}

div#ynetNewsScrollerTitle
{
    height: 26px;
}

div#ynetNewsScroller
{
    height: 116px;
}

div#ynetNewsScrollerTitle img
{
    height: 26px;
    margin-right: 1em;
    margin-top: 2px;
}

div#BottomRow
{
    height: 7%;
    margin-top: 1%;
}

div#address{
    color: black;
    font-size: 26px;
    text-align: center;
}


.myyiiBorder
{
    //border-color: #D7DDDD;
    //border-width: 1px;
    //border-style: groove;
}