html
{
    margin: 0;
    height: 99%;
    width: 100%;
    margin-top: 5px;
    overflow: hidden;
    background-color: lightgray;
}

body
{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: lightgray;
}

#page
{  
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: 100%;
    background-color: lightgray;
    
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
        height: 100%;
        background-color: lightgray;
}

.span2, .span4, .span6, .span8, .span12
{
	height: 100%;
        background-color: lightgray;
}

#TopRow
{
    height: 100%;
}

.row-fluid .carousel-caption
{
	direction: rtl;
        background-color: lightgray;        
}

#banner-fade
{
    padding: 0px;
}

.container-fluid .row-fluid .span2 .span4 .span8
{
    height: 100%;
}

.bjqs-markers
{
    visibility: hidden;
}

#LeftColumn, #RightColumn
{   
    height: 100%;
}

#BottomRight
{
    height: 12%;
}

#TopLeft
{
    height: 0%;
}

#BuildingPictures, #wheather, #date_time, #Adds1, #Adds2, #Adds3, #Billboard, #YnetWidget
{
}

#date_time
{ 
    float: left;
    width: 35%;
    margin-left: -4px;
}

#date_time_text
{
    text-align: center; 
    font-size: 24px;
    font-weight: 400;
    font-family: Source Sans Pro;
    padding-top: 18px;
}

div.aw-widget-current-inner
{
    width: 65%;
    float: right;
}

div#date_time span
{
    font-size: 50px;
    text-shadow: 1px 1px #e9e9e9;
}

#wheather
{   
}

#Commertial
{
    height: 76%;
}

#Adds1
{       
  padding-top: 10%;
}

.Logo
{
    max-height: 76px;
    float: right;
    width: 100%;
    display: none;
}

div.Logo img
{
    width: 300px;    
	margin: 0 auto;
	display: block;
            display: none;

}

#Billboard
{
    height: 76%;
}

Div#billboardTitle
{
    border-bottom: 2px solid #e9e9e9 !important;   
    font-weight: 400;
    font-size: 28px;
    font-family: Source Sans Pro;
    text-align: center;
    padding-bottom: 6px;
}

Div#billboardTitle span
{
    font-weight: bold;
}
 
#Adds3
{
}

.myyiiBorder
{
/*    border-color: #D7DDDD;
    border-width: 1px;
    border-style: groove;
*/
}

#YnetWidget
{
    height: 188px;
    border: 2px solid #e9e9e9 !important;    
}

#YnetWidget ul li .rssContent
{
    float: right;
    background-color:rgba(e9,e9,e9,1);
    font-family: serif;
    font-size: 20px;
}
 #ynetNewsScroller ul
 {
	background-color:rgba(e9,e9,e9,1);	
 }

div.aw-widget-current-inner
{
    height: 188px;
}

div.aw-widget-current-inner a.aw-toggle
{
    visibility: hidden;
}