/*default CSS for SAG scroller*/

.sagscroller{
direction: rtl;
width: 100%;  /*default width of scroller*/
height:100%;
overflow:hidden;
position:relative;
/*border:4px solid #A3CCCC;
border-radius: 8px; 
moz-border-radius: 8px; 
-webkit-border-radius: 8px; */
}

#ynetNewsScroller{
font-family: sans-serif;
font-size: 22px;
}

.sagscroller a{
font-weight:bold;
color: blue;
}

.sagscroller ul{
position:absolute;
margin:0;
padding:0;
//background:white;
list-style:none;
width: 100%;
}

.sagscroller ul li{
display:block;
line-height: 107%;

}

.sagscroller ul li img{

float: right;
margin: 8px;
}

.sagscroller ul li .rsscontent{ /*div containing body of each RSS entry*/
font-size:90%;
color: black;
}

.sagscroller ul li .rsslabel{ /*div containing label of each RSS entry*/
margin-top:5px;
//background: #eee;
font-size:12px;
clear: both;
color: red;
}